<%= render("/layouts/header") %>

<div class="container" id="content" style="margin-top:100px;" >  
  <div id="users" style="margin-top:100px;">  
    <% @users.each do |user| %>  
    <div id="user">  
        <% if user.username != current_user.username %>  
          <%=h user.username %>  
          <%= link_to "Voir Profil", "/users/tweet/" + user.username, :method => :show %> 
          <%= link_to "AJouter en amis", friendships_path(:friend_id => user), :method => :post %>  
        <% end %>  
      </div>  
    
    <% end %>  
  </div>  
</div>