    <div id="users">  
      <% Post.find(:all, :conditons => ["user_id like ?", params[:id]]).each do |post| %>  
      <div id="user">   
            <%=h post.user_id %>  
        </div>  
      <% end %>  
    </div>  