<footer>
<div class="container" id="content" >
	<p>
		<h6><i>/****Ce site est un TwitterLike pour le projet de langage du futur****/</i></h6>
	</p>
	<p>
	Copyright - <a href="https://github.com/Quentin33/Twitter" target="_blank" >Quentin Pauzat</a> - 2012
	</p>
</div>
</footer>