<header>
	<div class="topbar" data-dropdown="dropdown" >
      <div class="topbar-inner">
		<div class="container">
		  <h3><a href="/"><img src="/twitter.png" title="TwitterLogo"/></a></h3>
		</div>
      </div>
	</div>
</header>